:root {
  --text-color: #3b4952;

  --main-color: #0d7714;
  --maindark-color: #06520b;

  --secondary-color: #a008b7;
  --secondarydark-color: #5d046b;

  --warning-color: #cd0000;
  --warningdark-color: #7b0000;

  --link-color: #3166d0;
  --linkdark-color: #003294;

  --bg-color: #d1d7db;
  --bglight-color: #f7f8fb;

  --font-name: 'Fira Sans Condensed', sans-serif;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
  font-weight: 300;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.65px;
  word-spacing: 1.15px;
}

.fonts-loaded {
  font-family: var(--font-name);
  letter-spacing: normal;
  word-spacing: normal;
}

html, body {
	height: 100%;
	color: var(--text-color);
  background-color: var(--bglight-color);
  margin: 0;
}

input, button, textarea, select {
	resize: none;
	border-radius: 0;
  font-family: inherit;
  line-height: 16px;
}

main {
  position: relative;
  flex-grow: 1;
}

#crypto-app {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  min-height: 100%;
}

#crypto-app[v-cloak] .load-status,
#crypto-app[v-cloak] .portfolio__total,
#crypto-app[v-cloak] .pageheader__user {
  opacity: 0;
}

#crypto-app[v-cloak] .pageheader__user + .pageheader__user,
#crypto-app[v-cloak] .portfolio__filters button span + span,
#crypto-app[v-cloak] #sign-in-btn,
#crypto-app[v-cloak] .table tbody {
  display: none;
}

.pageheader {
  position: relative;
  z-index: 1;
  padding: 1em 10px;
  background-color: var(--bglight-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.pageheader__left-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-right: 2em;
}

.pageheader__name {
  margin: auto 0;
  font-weight: 500;
}

.pageheader__user {
  margin: .66em 0;
}

.pageheader__buttons {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.pageheader__buttons .btn {
  flex-grow: 1;
  letter-spacing: -.2px;
}
.fonts-loaded .pageheader__buttons .btn {
  letter-spacing: 0;
}

.pageheader__buttons .btn + .btn {
  margin-left: 10px;
}

.btn[data-device="desktop"] {
  display: none;
}

.load-status {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px 10px;
  background-color: var(--secondary-color);
  color: #fff;
}

.input-field {
  padding: 0 7px;
  height: 30px;
  font-size: 15px;
  border-radius: 0 !important;
  border: 1px solid var(--bg-color);
  background-color: #fff;
  width: 100%;
  max-width: 100%;
  min-width: 130px;
}

.input-field::placeholder {
  color: var(--bg-color);
  transition: color .3s .2s;
}

.btn {
  font-size: 16px;
	font-weight: 500;
	padding: 9px 10px;
	border-radius: 5px;
	transition: background .1s, color .1s, transform .15s;
	border: none;
	position: relative;
  display: inline-flex;
	align-items: center;
  color: #fff;
  justify-content: center;
}

.btn__text {
  margin: 0 auto;
}

.btn--main {
  background-image: linear-gradient(45deg, var(--main-color), var(--maindark-color));
}

.btn--alt {
  background-image: linear-gradient(45deg, var(--secondary-color), var(--secondarydark-color));
}

.btn--warning {
  background-image: linear-gradient(45deg, var(--warning-color), var(--warningdark-color));
}

.table {
  /*min-width: 100%;*/
  border-collapse: collapse;
}

.table + .table {
  margin-top: 2em;
}

.table__th {
  text-align: left;
  border-bottom: 2px solid var(--bg-color);
  padding: 5px 10px;
  vertical-align: bottom;
  font-weight: 500;
  height: 80px;
}

.table__td {
  padding: 5px 10px;
  background-color: #fff;
  height: 44px;
}

.table tr:nth-child(even) .table__td {
  background-color: var(--bglight-color);
}

.table tr.table__row-active .table__td {
  background-color: #e5e6ea;
}

.table__td--name {
  width: 190px;
}

.table__td--price {
  width: 135px;
}

.table__td--action {
  position: relative;
}

.table__action-div {
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;

  position: absolute;
  right: 11px;
  top: 0;
  padding: 5px 0;
  background-color: inherit;
}

.table__row-active .table__action-div {
  width: 102px;
}

.table__row-active .table__action-div--hold {
  width: 136px;
}

.table__td--current-price {
  white-space: nowrap;
}

.table__td--sell-usd,
.table__td--finish {
  border-left: 2px solid var(--bg-color);
}

.table__td--finish {
  width: 91px;
}

.table__td--pl {
  color: var(--main-color);
}

.table__neutral {
  color: #000;
}

.table__negative-change {
  color: var(--warning-color);
}

.table__positive-change {
  color: var(--main-color);
}

.table--right-align td:last-child {
  text-align: right;
}

.table .fiat {
  display: block;
  text-align: right;
}

.table__symbol {
  display: flex;
  align-items: center;
}

.table__symbol-icon {
  width: 16px;
  font-size: 12px;
  text-align: center;
}

.table__symbol-name {
  vertical-align: middle;
  margin-left: 8px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80px;
  white-space: nowrap;
}

.table--w100 {
  min-width: 100%;
}

.table--marketinfo .table__th {
  height: 80px;
}

.table__td--desktop,
.table__th--desktop {
  display: none;
}

.table__th--rank {
  width: 35px;
  text-align: center;
}

.table__td--rank {
  text-align: center;
}

.table--marketinfo.table--symbol {
  width: 190px;
}

.portfolio {
  margin: 1em 0;
}

.portfolio__empty {
  font-size: 1.5em;
  color: rgba(0,0,0,.5);
  font-weight: 500;
  margin-top: 0;
}

.portfolio__header {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 2.5em;
  margin-bottom: .5em;
}

.portfolio__filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px .5em;
}

.portfolio__search {
  width: 100%;
  max-width: 300px;
}

.portfolio__search-block {
  flex-shrink: 1;
  flex-grow: 1;
  margin-right: 15px;
}

.portfolio__filters .btn {
  flex-shrink: 0;
}

.portfolio__myinv {
  display: flex;
}

.portfolio__table-holder {
  overflow-x: auto;
  flex-grow: 1;
}

.portfolio__total {
  margin: 1em;
  text-align: center;
  font-size: calc( 1.5rem + 16 * (100vw - 320px) / (960 - 320) );
  line-height: calc( 120% + 3.2 * (100vw - 960px) / (320 - 960) );
  font-weight: 500;
}

.portfolio__no-records {
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 365px) {
  .portfolio__total {
    font-size: 22px;
  }
}

.market-info {
  min-height: 475px;
  margin-top: 2em;
  max-width: 100%;
  overflow: auto;
}

.market-info__holder {
  display: flex;
}

.market-info__search {
  margin: .1em 10px 1em 0;
  padding: 0 0 0 10px;
  display: flex;
  flex-wrap: wrap;
}

.market-info__search-label {
  font-weight: 500;
  margin: auto 15px auto 0;
}

.market-info__search-field {
  flex-grow: 1;
  max-width: 300px;
  width: auto;
}

.market-info__table-holder {
  overflow-x: auto;
}
