@import url(desktop/d-ui.css);
@import url(desktop/d-header.css);
@import url(desktop/d-portfolio.css);
@import url(desktop/d-market-info.css);

#crypto-app {
  max-width: 1350px;
  margin: auto;
}

.pagefooter {
  padding: 1em;
  font-size: 14px;
}
