.pagefooter {
  background-image: linear-gradient(45deg, var(--secondary-color), var(--secondarydark-color));
  font-size: 13px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  padding: 15px 0;
}

.pagefooter__copy,
.pagefooter__donate,
.pagefooter__credits {
  padding: 0 15px;
}

.pagefooter a {
  color: #fff;
  font-weight: 500;
}
