.pageheader {
  position: relative;
  z-index: 1;
  padding: 1em;
  background-color: var(--bglight-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.pageheader__name {
  flex-grow: 1;
}

.pageheader__buttons {
  flex-basis: 100%;
}

.pageheader__buttons .btn + .btn {
  margin-left: 10px;
}

.load-status {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px;
  background-color: var(--secondary-color);
  color: #fff;
}
