.pageheader {
  position: relative;
  z-index: 1;
  padding: 1em;
  background-color: var(--bglight-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.pageheader__left-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.pageheader__name {
  margin: auto 0;
  font-weight: 500;
}

.pageheader__user {
  margin: .66em 0;
}

.pageheader__buttons {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.pageheader__buttons--si .btn {
  flex-grow: 1;
}

.pageheader__buttons .btn + .btn {
  margin-left: 10px;
}

.btn[data-device="desktop"] {
  display: none;
}

.load-status {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px 10px;
  background-color: var(--secondary-color);
  color: #fff;
}
