.pageheader {
  position: relative;
  z-index: 1;
  padding: 10px 2em;
  background-color: var(--bglight-color);
  display: flex;
  align-items: center;
}

.pageheader__name {
  flex-grow: 1;
}

.pageheader .btn {
  margin: 0 5px;
}

.load-status {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px;
  background-color: var(--secondary-color);
  color: #fff;
}
