.market-info {
  min-height: 475px;
  margin-top: 2em;
  max-width: 100%;
  overflow: auto;
}

.market-info__holder {
  display: flex;
}

.market-info__search {
  margin: .1em 10px 1em 0;
  padding: 0 0 0 10px;
  display: flex;
  flex-wrap: wrap;
}

.market-info__search-label {
  font-weight: 500;
  margin: auto 15px auto 0;
}

.market-info__search-field {
  flex-grow: 1;
  max-width: 300px;
}

.market-info__table-holder {
  overflow-x: auto;
}
