.market-info {
  min-height: 475px;
  flex-grow: 1;
  margin-top: 2em;
  max-width: 100%;
  overflow: auto;
}

.market-info__search {
  margin: .1em 0 1em;
  padding: 0 0 0 10px;
  display: flex;
  flex-wrap: wrap;
}

.market-info__search-label {
  font-weight: 500;
  margin: auto 15px auto 0;
}

.market-info__search-field {
  flex-grow: 1;
}
