.market-info {
  min-height: 375px;
  flex-grow: 1;
  margin-top: 2em;
  max-width: 100%;
  overflow: auto;
}

.market-info__search {
  margin: .1em 0 1em;
  padding: 0 0 0 10px;
  display: flex;
  flex-wrap: wrap;
}

.market-info__search-field {
  max-width: 300px;
  width: 300px;
}

.market-info__search-label {
  font-weight: bold;
  margin: 0 15px 15px 0;
}
