.portfolio {
  margin: 1em 0;
}

.portfolio__empty {
  font-size: 1.5em;
  color: rgba(0,0,0,.5);
  font-weight: 500;
  margin-top: 0;
}

.portfolio__header {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 2.5em;
  margin-bottom: .5em;
}

.portfolio__filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px .5em;
}

.portfolio__search {
  width: 100%;
  max-width: 300px;
}

.portfolio__search-block {
  flex-shrink: 1;
  flex-grow: 1;
  margin-right: 15px;
}

.portfolio__filters .btn {
  flex-shrink: 0;
}

.portfolio__myinv {
  display: flex;
}

.portfolio__table-holder {
  overflow-x: auto;
  flex-grow: 1;
}

.portfolio__total {
  margin: 1em;
  text-align: center;
  font-size: calc( 1.5rem + 16 * (100vw - 320px) / (960 - 320) );
  line-height: calc( 120% + 3.2 * (100vw - 960px) / (320 - 960) );
  font-weight: 500;
}

.portfolio__no-records {
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 365px) {
  .portfolio__total {
    font-size: 22px;
  }
}
