.portfolio {
  margin: 1em;
}

.portfolio__table-holder {
  overflow-x: auto;
}

.portfolio__empty {
  font-size: 1.5em;
  color: rgba(0,0,0,.5);
  font-weight: bold;
  margin-top: 0;
}

.portfolio__filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
}

.portfolio__search {
  margin-right: 24px;
}
