.portfolio {
  margin: 1em;
}

.portfolio__empty {
  font-size: 1.5em;
  color: rgba(0,0,0,.5);
  font-weight: 500;
  margin-top: 0;
}

.portfolio__filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
}

.portfolio__search-block {
  flex-shrink: 1;
  margin-right: 15px;
}

.portfolio__filters .btn {
  flex-shrink: 0;
}

.portfolio__myinv {
  display: flex;
}

.portfolio__table-holder {
  overflow-x: auto;
  flex-grow: 1;
}
