:root {
  --text-color: #3b4952;

  --main-color: #1b9c22;
  --maindark-color: #06520b;

  --secondary-color: #a008b7;
  --secondarydark-color: #5d046b;

  --warning-color: #cd0000;
  --warningdark-color: #7b0000;

  --bg-color: #d1d7db;
  --bglight-color: #f7f8fb;
  --link-color: #4079ea;
  --font-name: 'Fira Sans Condensed';
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
  font-weight: 300;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.65px;
  word-spacing: 1.15px;
}

.fonts-loaded {
  font-family: var(--font-name);
  letter-spacing: normal;
  word-spacing: normal;
}

html, body {
	height: 100%;
	color: var(--text-color);
  background-color: #fff;
  margin: 0;
}

input, button, textarea, select {
	resize: none;
	border-radius: 0;
  font-family: inherit;
  line-height: 16px;
}

main {
  position: relative;
  flex-grow: 1;
}

#crypto-app {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#crypto-app[v-cloak] {
  display: none;
}
