:root {
  --text-color: #3b4952;

  --main-color: #1b9c22;
  --maindark-color: #06520b;

  --secondary-color: #a008b7;
  --secondarydark-color: #5d046b;

  --warning-color: #cd0000;
  --warningdark-color: #7b0000;

  --bg-color: #d1d7db;
  --bglight-color: #f7f8fb;
  --link-color: #4079ea;
  --font-name: 'Fira Sans Condensed', Arial, sans-serif;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8;
  font-family: "arial narrow";
  letter-spacing: 0.35px;
  word-spacing: -1.1px;
}

body.fonts-loaded {
  font-family: var(--font-name);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: 1;
}

html, body {
	height: 100%;
	font-size: 16px;
	color: var(--text-color);
  background-color: #fff;
  margin: 0;
}

input, button, textarea, select {
  font-family: var(--font-name);
	resize: none;
	border-radius: 0;
}

main {
  position: relative;
  flex-grow: 1;
}

#crypto-app {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#crypto-app[v-cloak] {
  display: none;
}
