:root {
  --text-color: #3b4952;
  --main-color: #1b9c22;
  --secondary-color: #a008b7;
  --bg-color: #d1d7db;
  --bglight-color: #f7f8fb;
  --link-color: #4079ea;
  --font-name: 'Dosis', Arial, sans-serif;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
  font-weight: 300;
  font-family: var(--font-name);
}

html, body {
	height: 100%;
	font-size: 16px;
	color: var(--text-color);
  background-color: #fff;
  margin: 0;
}

input, button, textarea, select {
  font-family: var(--font-name);
	resize: none;
	border-radius: 0;
}

main {
  position: relative;
}

#crypto-app {
  position: relative;
}

#crypto-app[v-cloak] .popup-overlay {
  display: none;
}

p {
  margin: 0;
}

* + p {
  margin-top: 1em;
}
