@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Condensed Regular'),
       local('FiraSansCondensed-Regular'),
       url(https://fonts.gstatic.com/s/firasanscondensed/v1/HQGj1o4-qj8agzakWWMQw3beBvOnr03nAdLtAYthXTk.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/firasanscondensed/v1/HQGj1o4-qj8agzakWWMQwz-GTvntjrDzHCVWP3JLxew.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 500;
  src: local('Fira Sans Condensed Medium'),
       local('FiraSansCondensed-Medium'),
       url(https://fonts.gstatic.com/s/firasanscondensed/v1/k1srRZ14gKpu4XGd0R993Aqucz1E_8CNctQpbMaP2yE.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/firasanscondensed/v1/k1srRZ14gKpu4XGd0R993GtQbJMUHno6E__xnSC8Luc.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


:root {
  --text-color: #3b4952;

  --main-color: #1b9c22;
  --maindark-color: #06520b;

  --secondary-color: #a008b7;
  --secondarydark-color: #5d046b;

  --warning-color: #cd0000;
  --warningdark-color: #7b0000;

  --link-color: #4079ea;
  --linkdark-color: #003294;

  --bg-color: #d1d7db;
  --bglight-color: #f7f8fb;
  --font-name: 'Fira Sans Condensed', sans-serif;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
  font-weight: 300;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.65px;
  word-spacing: 1.15px;
}

.fonts-loaded {
  font-family: var(--font-name);
  letter-spacing: normal;
  word-spacing: normal;
}

html, body {
	height: 100%;
	color: var(--text-color);
  background-color: #fff;
  margin: 0;
}

input, button, textarea, select {
	resize: none;
	border-radius: 0;
  font-family: inherit;
  line-height: 16px;
}

main {
  position: relative;
  flex-grow: 1;
}

#crypto-app {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
