@import url(ui/buttons.css);
@import url(ui/table.css);
@import url(ui/popup.css);

.radio {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.radio + .radio {
  margin-left: 25px;
}

.radio__input {
  position: absolute;
  opacity: 0;
}

.radio__label {
  position: relative;
  padding-left: 25px;
  overflow: hidden;
  display: inline-block;
}

.radio__label:before {
  position: absolute;
  content: ' ';
  left: 0;
  top: 0;
  width: 22px;
  height: 22px;
  border: 1px solid var(--bg-color);
  display: block;
  border-radius: 15px;
}

.radio__label:after {
  position: absolute;
  content: ' ';
  left: 5px;
  top: 5px;
  width: 12px;
  height: 12px;
  border-radius: 15px;
  transform: translateX(-20px);
  transition: transform .2s;
  background-color: var(--main-color);
}

.radio__input:focus + .radio__label:before {
  border-color: var(--main-color);
}

.radio__input:checked + .radio__label:after {
  transform: translateX(0);
}

strong, b, h1, h2, h3 {
  font-weight: 500;
}

.secondary-span {
  color: var(--bg-color);
}

.input-field {
  padding: 0 7px;
  height: 30px;
  font-size: 15px;
  border-radius: 0 !important;
  border: 1px solid var(--bg-color);
  background-color: #fff;
  width: 100%;
  max-width: 100%;
  min-width: 130px;
}

select.input-field {
  max-width: none;
  margin-left: 10px;
}

.input-field::placeholder {
  color: var(--bg-color);
  transition: color .3s .2s;
}

.input-field:focus::placeholder {
  color: transparent;
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--warning-color);
}

.acronym {
  position: relative;
}

.acronym__text {
  text-decoration: none;
  white-space: nowrap;
  color: var(--link-color);
  border-bottom: 1px dashed var(--link-color);
  transition: color .2s, border-color .2s;
}

.acronym__text:hover {
  color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  transition: none;
  cursor: default;
}

.acronym__tooltip {
  position: absolute;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1
}

.acronym:hover .acronym__tooltip,
.acronym:focus .acronym__tooltip {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  width: auto;
  padding: 5px 6px;
  margin: 2px auto;
  border: 1px solid var(--bg-color);
  background-color: #fff;
  white-space: nowrap;
  font-size: 12px;
  bottom: 1.7em;
}

.fiat__fraction {
  font-size: .7em
}
