<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#a008b7">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>My Cryptowatcher</title>

  <link rel="canonical" href="https://sandmanisdancing.github.io/cryptowatcher/dist">
  <link rel="manifest" href="manifest.json">

  <!-- PWA icons, uncomment for production -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="My Cryptowatcher">
  <link rel="apple-touch-icon" href="images/icons/icon-152x152.png">

  <meta name="msapplication-TileImage" content="images/icons/icon-144x144.png">
  <meta name="msapplication-TileColor" content="#a008b7">

  <!-- shortcut icon, uncomment for production -->
  <!-- <link rel="shortcut icon" href="images/icons/icon-32x32.png" type="image/ico"> -->

  <style>#crypto-app[v-cloak]{max-width:100%;max-height:100vh;overflow:hidden}#crypto-app[v-cloak]:before{content:' ';position: absolute;width:100%;height:100%;background-color:#fff;z-index:10}#crypto-app[v-cloak]:after{content:"Cryptowatcher";position:absolute;width:100%;height:100%;display:flex;justify-content:center;align-items:center;font-weight:500;font-size:7vw;top:0;left:0;z-index:20}</style>
  <link rel="stylesheet" type="text/css" href="styles/main.css" media="all">
  <link rel="stylesheet" type="text/css" href="styles/desktop.css" media="(min-width: 800px)">

  <link rel="preload" href="https://fonts.gstatic.com/s/firasanscondensed/v1/HQGj1o4-qj8agzakWWMQw3beBvOnr03nAdLtAYthXTk.woff2" as="font" crossorigin>
  <link rel="preload" href="https://fonts.gstatic.com/s/firasanscondensed/v1/k1srRZ14gKpu4XGd0R993Aqucz1E_8CNctQpbMaP2yE.woff2" as="font" crossorigin>

  <link rel="preload" href="https://www.gstatic.com/firebasejs/4.1.3/firebase.js" as="script">
  <link rel="preload" href="scripts/main.js" as="script">

  <script>
    if (!sessionStorage.fontsLoaded) {
      var script = document.createElement('script');

      script.onload = function () {
        var fontRegular = new FontFaceObserver('Fira Sans Condensed'),
        fontItalic = new FontFaceObserver('Fira Sans Condensed');

        Promise.all([fontRegular.load(), fontItalic.load()]).then(function () {
          sessionStorage.fontsLoaded = true;
          document.body.classList.add('fonts-loaded');
        }).catch(function () {
          sessionStorage.fontsLoaded = false;
        });
      }

      script.src = "scripts/fontfaceobserver.js";
      document.head.appendChild(script);
    }
  </script>
</head>
<body>
  <script>
    if (sessionStorage.fontsLoaded) document.body.classList.add('fonts-loaded')
  </script>

  <div id="crypto-app" v-cloak>
    <header class="pageheader">
      <div class="load-status" v-if="loadStatus">{{ loadStatus }}</div>

      <div class="pageheader__left-column">
        <h1 class="pageheader__name">My crypto portfolio</h1>
        <div class="pageheader__user" v-if="authentication.isSignedIn">
          {{ authentication.user.displayName }}
        </div>
        <div class="pageheader__user" v-else>
          Not signed in.
        </div>
      </div>

      <div class="pageheader__buttons">
        <button class="btn btn--main" @click="openWindow('investPopup')">Add investment</button>
        <button class="btn btn--alt" @click="fetchData">Refresh data</button>

        <button class="btn btn--main" @click="openWindow('signInPopup')" v-if="!authentication.isSignedIn">Sign in</button>
        <button class="btn btn--warning" @click="signOut" v-else>Sign out</button>
      </div>
    </header>

    <main role="main">
      <section class="portfolio">
        <div class="portfolio__total" v-if="myInvestments.length">
          Total portfolio value: ${{ totalPortfolioValue | tofix2 }}
        </div>

        <h2 class="portfolio__header" v-if="myInvestments.length">ICOs</h2>
        <div class="portfolio__filters" v-if="myInvestments.length">
          <button role="button" class="btn btn--alt" @click="toggleListed">
            <span v-if="notListed">Hide not listed</span>
            <span v-else>Show all</span>
          </button>
        </div>

        <div class="portfolio__myinv" v-if="myInvestments.length">
          <table class="table table--myinv table--symbol">
            <thead>
              <th class="table__th table__th--symbol">Symbol</th>
            </thead>
            <tbody>
              <tr v-for="(investment, index) in computedInvestments" :key="investment.id" @click.stop="highlightRow(index, 'icos')" class="table__row">
                <td class="table__td table__td--symbol">
                  <span class="table__symbol">
                    <img class="table__symbol-icon" :src="investment.icon" :alt="investment.coinsSymbol + ' icon'" v-if="investment.icon">
                    <span v-else class="table__symbol-icon">&minus;</span>

                    <template v-if="investment.url">
                      <a class="table__symbol-name" :title="investment.url" :href="investment.url" target="_blank" rel="noopener">{{ investment.coinsSymbol }}</a>
                    </template>
                    <span class="table__symbol-name" v-else>{{ investment.coinsSymbol }}</span>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="portfolio__table-holder">
            <table class="table table--myinv table--w100">
              <thead>
                <tr>
                  <th class="table__th table__th--symbol table__th--desktop">Symbol</th>
                  <th class="table__th table__th--in-crypto">Invested, crypto</th>
                  <th class="table__th table__th--in-usd">Invested</th>
                  <th class="table__th table__th--stay-usd">Current crypto value</th>
                  <th class="table__th table__th--quantity">Quantity</th>
                  <th class="table__th table__th--current-price">Price (24h&nbsp;change)</th>
                  <th class="table__th">Current profit&nbsp;/&nbsp;loss</th>
                  <th class="table__th table__th--total-usd">Total</th>
                  <th class="table__th table__th--sell-usd">Sold</th>
                  <th class="table__th table__th--sell-coins">Sold, coins&nbsp;/&nbsp;tokens</th>
                  <th class="table__th table__th--sell-total">Sold + total</th>
                  <th class="table__th table__th--pl">Sold profit&nbsp;/&nbsp;loss</th>
                  <th class="table__th table__th--finish">ICO finish date</th>
                  <th class="table__th table__th--action">Act</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(investment, index) in computedInvestments" :key="investment.id" @click.stop="highlightRow(index, 'icos')" class="table__row">
                  <td class="table__td table__td--symbol table__td--desktop">
                    <span class="table__symbol">
                      <img class="table__symbol-icon" :src="investment.icon" :alt="investment.coinsSymbol + ' icon'" v-if="investment.icon">
                      <span v-else class="table__symbol-icon">&minus;</span>

                      <template v-if="investment.url">
                        <a class="table__symbol-name" @click.stop :title="investment.url" :href="investment.url" target="_blank" rel="noopener">{{ investment.coinsSymbol }}</a>
                      </template>
                      <span class="table__symbol-name" v-else>{{ investment.coinsSymbol }}</span>
                    </span>
                  </td>
                  <td class="table__td table__td--in-crypto">{{ investment.cryptoInvestedAmount | roundToThreeDigits }}&nbsp;{{ investment.cryptoInvestedSymbol }}</td>
                  <td class="table__td table__td--in-usd">
                    <span class="fiat">
                      <span class="fiat__whole">${{ investment.usdInvested | tofixWhole }}</span>.<span class="fiat__fraction">{{ investment.usdInvested | tofixFraction }}</span>
                    </span>
                  </td>
                  <td class="table__td table__td--stay-usd">
                    <span class="fiat">
                      <span class="fiat__whole">${{ investment.current_value | tofixWhole }}</span>.<span class="fiat__fraction">{{ investment.current_value | tofixFraction }}</span>
                    </span>
                  </td>
                  <td class="table__td table__td--quantity">{{ investment.quantity | roundToThreeDigits }}</td>
                  <td class="table__td table__td--current-price">
                    <a target="_blank" rel="noopener" @click.stop title="Link to the list of markets" :href="investment.markets_link" v-if="investment.markets_link">${{ investment.price | tofixPrice }}</a>
                    <span v-else>&minus;</span>
                    <template v-if="investment['24h_change'] !== 0">
                      &nbsp;(<span :class="[investment['is_change_negative'] ? 'table__positive-change' : 'table__negative-change']">{{ investment['24h_change'] }}%</span>)
                    </template>
                  </td>
                  <td class="table__td table__td--pl" :class="{ 'table__negative-change': investment['is_profit'] }">
                    <template v-if="investment.markets_link">
                      <span class="fiat">
                        <span class="fiat__whole">${{ investment.current_pl | tofixWhole }}</span>.<span class="fiat__fraction">{{ investment.current_pl | tofixFraction }}</span>
                      </span>
                    </template>
                    <span class="fiat" v-else>&minus;</span>
                  </td>
                  <td class="table__td table__td--total-usd">
                    <span class="fiat">
                      <span class="fiat__whole">${{ investment.total | tofixWhole }}</span>.<span class="fiat__fraction">{{ investment.total | tofixFraction }}</span>
                    </span>
                  </td>
                  <td class="table__td table__td--sell-usd">
                    <span class="fiat">
                      <span class="fiat__whole">${{ investment.usdWithdraw | tofixWhole }}</span>.<span class="fiat__fraction">{{ investment.usdWithdraw | tofixFraction }}</span>
                    </span>
                  </td>
                  <td class="table__td table__td--sell-coins">{{ investment.coinsWithdraw }}</td>
                  <td class="table__td table__td--sell-total">
                    <span class="fiat">
                      <span class="fiat__whole">${{ investment.sold_total | tofixWhole }}</span>.<span class="fiat__fraction">{{ investment.sold_total | tofixFraction }}</span>
                    </span>
                  </td>
                  <td class="table__td table__td--pl" :class="{ 'table__negative-change': ((investment.usdWithdraw/investment.coinsWithdraw) - (investment.usdInvested/investment.coinsAmount)) < 0 }">
                    <template v-if="investment.usdWithdraw > 0">
                      <span class="fiat">
                        <span class="fiat__whole">${{ investment.sold_pl | tofixWhole }}</span>.<span class="fiat__fraction">{{ investment.sold_pl | tofixFraction }}</span>
                      </span>
                    </template>
                    <span class="fiat table__neutral" v-else>
                      <span class="fiat__whole">$0</span>.<span class="fiat__fraction">00</span>
                    </span>
                  </td>
                  <td class="table__td table__td--finish">
                    <acronym class="acronym" tabindex="0" v-if="investment.finishDate" @click.stop>
                      <span class="acronym__tooltip">{{ investment.finishDate | dateToDays }}</span>
                      <span class="acronym__text">{{ investment.finishDate }}</span>
                    </acronym>
                  </td>
                  <td class="table__td table__td--action">
                    <div class="table__action-div">
                      <button class="btn btn--main action-btn" type="button" @click.stop="makeTransaction(index, 'ico')" title="Sell">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="4" y1="12" x2="20" y2="12"></line><polyline points="14 6 20 12 14 18"></polyline></svg>
                      </button>
                      <button class="btn btn--alt action-btn action-btn--edit" type="button" @click.stop="editToken(index, 'ico', $event)" title="Edit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2"><polygon points="16 3 21 8 8 21 3 21 3 16 16 3"></polygon></svg>
                      </button>
                      <button class="btn btn--warning action-btn action-btn--delete" type="button" @click.stop="askRemoveToken(investment.id)" title="Delete">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <h2 class="portfolio__header">Hold</h2>
        <div class="portfolio__myinv">
          <table class="table table--myHold table--symbol">
            <thead>
              <th class="table__th table__th--symbol">Symbol</th>
            </thead>
            <tbody>
              <tr v-for="(investment, index) in computedHold" :key="investment.id" @click.stop="highlightRow(index, 'hold')" class="table__row">
                <td class="table__td table__td--symbol">
                  <span class="table__symbol">
                    <img class="table__symbol-icon" :src="investment.icon" :alt="investment.coinsSymbol + ' icon'" v-if="investment.icon">
                    <span v-else class="table__symbol-icon">&minus;</span>

                    <template v-if="investment.url">
                      <a class="table__symbol-name" :title="investment.url" :href="investment.url" target="_blank" rel="noopener">{{ investment.coinsSymbol }}</a>
                    </template>
                    <span class="table__symbol-name" v-else>{{ investment.coinsSymbol }}</span>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="portfolio__table-holder">
            <table class="table table--myHold table--w100">
              <thead>
                <tr>
                  <th class="table__th table__th--symbol table__th--desktop">Symbol</th>
                  <th class="table__th table__th--in-crypto">Invested, crypto</th>
                  <th class="table__th table__th--in-usd">Invested</th>
                  <th class="table__th table__th--stay-usd">Current crypto value</th>
                  <th class="table__th table__th--quantity">Quantity</th>
                  <th class="table__th table__th--avg-price">Average buy price</th>
                  <th class="table__th table__th--current-price">Price (24h&nbsp;change)</th>
                  <th class="table__th">Current profit&nbsp;/&nbsp;loss</th>
                  <th class="table__th table__th--total-usd">Total</th>
                  <th class="table__th table__th--sell-usd">Sold</th>
                  <th class="table__th table__th--sell-coins">Sold, coins&nbsp;/&nbsp;tokens</th>
                  <th class="table__th table__th--sell-total">Sold + total</th>
                  <th class="table__th table__th--pl">Sold profit&nbsp;/&nbsp;loss</th>
                  <th class="table__th table__th--action">Act</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(investment, index) in computedHold" :key="investment.id" @click.stop="highlightRow(index, 'hold')" class="table__row">
                  <td class="table__td table__td--symbol table__td--desktop">
                    <span class="table__symbol">
                      <img class="table__symbol-icon" :src="investment.icon" :alt="investment.coinsSymbol + ' icon'" v-if="investment.icon">
                      <span v-else class="table__symbol-icon">&minus;</span>

                      <template v-if="investment.url">
                        <a class="table__symbol-name" @click.stop :title="investment.url" :href="investment.url" target="_blank" rel="noopener">{{ investment.coinsSymbol }}</a>
                      </template>
                      <span class="table__symbol-name" v-else>{{ investment.coinsSymbol }}</span>
                    </span>
                  </td>
                  <td class="table__td table__td--in-crypto">{{ investment.cryptoInvestedAmount | roundToThreeDigits }}&nbsp;{{ investment.cryptoInvestedSymbol }}</td>
                  <td class="table__td table__td--in-usd">
                    <span class="fiat">
                      <span class="fiat__whole">${{ investment.usdInvested | tofixWhole }}</span>.<span class="fiat__fraction">{{ investment.usdInvested | tofixFraction }}</span>
                    </span>
                  </td>
                  <td class="table__td table__td--stay-usd">
                    <span class="fiat">
                      <span class="fiat__whole">${{ investment.current_value | tofixWhole }}</span>.<span class="fiat__fraction">{{ investment.current_value | tofixFraction }}</span>
                    </span>
                  </td>
                  <td class="table__td table__td--quantity">{{ investment.quantity | roundToThreeDigits }}</td>
                  <td class="table__td">
                    <span class="fiat">${{ investment.average_price | tofixPrice}}</span>
                  </td>
                  <td class="table__td table__td--current-price">
                    <a target="_blank" rel="noopener" @click.stop title="Link to the list of markets" :href="investment.markets_link" v-if="investment.markets_link">${{ investment.price | tofixPrice }}</a>
                    <span v-else>${{ investment.price | tofixPrice }}</span>
                    <template v-if="investment['24h_change'] !== 0">
                      &nbsp;(<span :class="[investment['is_change_negative'] ? 'table__positive-change' : 'table__negative-change']">{{ investment['24h_change'] }}%</span>)
                    </template>
                  </td>
                  <td class="table__td table__td--pl" :class="{ 'table__negative-change': (investment.price - investment.usdInvested/investment.coinsAmount) * investment.quantity < 0 }">
                    <template v-if="investment.markets_link">
                      <span class="fiat">
                        <span class="fiat__whole">${{ investment.current_pl | tofixWhole }}</span>.<span class="fiat__fraction">{{ investment.current_pl | tofixFraction }}</span>
                      </span>
                    </template>
                  </td>
                  <td class="table__td table__td--total-usd">
                    <span class="fiat">
                      <span class="fiat__whole">${{ investment.total | tofixWhole }}</span>.<span class="fiat__fraction">{{ investment.total | tofixFraction }}</span>
                    </span>
                  </td>
                  <td class="table__td table__td--sell-usd">
                    <span class="fiat">
                      <span class="fiat__whole">${{ investment.usdWithdraw | tofixWhole }}</span>.<span class="fiat__fraction">{{ investment.usdWithdraw | tofixFraction }}</span>
                    </span>
                  </td>
                  <td class="table__td table__td--sell-coins">{{ investment.coinsWithdraw }}</td>
                  <td class="table__td table__td--sell-total">
                    <span class="fiat">
                      <span class="fiat__whole">${{ investment.sold_total | tofixWhole }}</span>.<span class="fiat__fraction">{{ investment.sold_total | tofixFraction }}</span>
                    </span>
                  </td>
                  <td class="table__td table__td--pl" :class="{ 'table__negative-change': ((investment.usdWithdraw/investment.coinsWithdraw) - (investment.usdInvested/investment.coinsAmount)) < 0 }">
                    <template v-if="investment.usdWithdraw > 0">
                      <span class="fiat">
                        <span class="fiat__whole">${{ investment.sold_pl | tofixWhole }}</span>.<span class="fiat__fraction">{{ investment.sold_pl | tofixFraction }}</span>
                      </span>
                    </template>
                    <span class="fiat table__neutral" v-else>
                      <span class="fiat__whole">$0</span>.<span class="fiat__fraction">00</span>
                    </span>
                  </td>
                  <td class="table__td table__td--action">
                    <div class="table__action-div table__action-div--hold">
                      <button class="btn btn--rare action-btn" type="button" @click.stop="buy(index, 'hold')" title="Buy">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                      </button>
                      <button class="btn btn--main action-btn" type="button" @click.stop="makeTransaction(index, 'hold')" title="Sell">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="4" y1="12" x2="20" y2="12"></line><polyline points="14 6 20 12 14 18"></polyline></svg>
                      </button>
                      <button class="btn btn--alt action-btn action-btn--edit" type="button" @click.stop="editToken(index, 'hold', $event)" title="Edit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2"><polygon points="16 3 21 8 8 21 3 21 3 16 16 3"></polygon></svg>
                      </button>
                      <button class="btn btn--warning action-btn action-btn--delete" type="button" @click.stop="askRemoveToken(investment.id)" title="Delete">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="portfolio__no-records" v-if="!myInvestments.length">
          <p class="portfolio__empty">You have not investments right now, please add some information:</p>
          <button class="btn btn--main" @click="openWindow('investPopup')">Add investment</button>
        </div>
      </section>

      <section class="market-info">
        <div class="market-info__search">
          <label for="search-currency" class="input-label market-info__search-label">Coin search</label>
          <input type="search" id="search-currency" class="input-field market-info__search-field" v-model="searchMarket" placeholder="Search by name...">
        </div>

        <div class="market-info__holder">
          <table class="table table--marketinfo table--symbol">
            <thead>
              <tr>
                <th class="table__th table__th--rank">#</th>
                <th class="table__th">Coin</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="n in 10" v-if="currencyListSearch[n-1]" :key="currencyListSearch[n-1].id">
                <td class="table__td table__td--rank">
                  {{ currencyListSearch[n-1].rank }}
                </td>
                <td class="table__td table__td--name">
                  <span class="table__symbol">
                    <img class="table__symbol-icon" :src="showCoinImage(currencyListSearch[n-1].id, false)" :alt="currencyListSearch[n-1].name + ' icon'">

                    <span class="table__symbol-name">{{ currencyListSearch[n-1].name }}</span>&nbsp;<a target="_blank" rel="noopener" :href="showCryptoLink(currencyListSearch[n-1].id)">{{ currencyListSearch[n-1].symbol }}</a>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="market-info__table-holder">
            <table class="table table--marketinfo table--w100">
              <thead>
                <tr>
                  <th class="table__th table__th--rank table__th--desktop">#</th>
                  <th class="table__th table__th--desktop">Coin</th>
                  <th class="table__th">Price (24h change)</th>
                  <th class="table__th">Price, BTC</th>
                  <th class="table__th">Trade volume, 24h</th>
                  <th class="table__th">Market cap</th>
                  <th class="table__th">Circulating supply, coins</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="n in 10" v-if="currencyListSearch[n-1]" :key="currencyListSearch[n-1].id">
                  <td class="table__td table__td--rank table__td--desktop">
                    {{ currencyListSearch[n-1].rank }}
                  </td>
                  <td class="table__td table__td--name table__td--desktop">
                    <span class="table__symbol">
                      <img class="table__symbol-icon" :src="showCoinImage(currencyListSearch[n-1].id, false)" :alt="currencyListSearch[n-1].name + ' icon'">

                      <span class="table__symbol-name">{{ currencyListSearch[n-1].name }}</span>&nbsp;<a target="_blank" rel="noopener" :href="showCryptoLink(currencyListSearch[n-1].id)">{{ currencyListSearch[n-1].symbol }}</a>
                    </span>
                  </td>
                  <td class="table__td">
                    ${{ currencyListSearch[n-1].price_usd | tofixPrice }}&nbsp;(<span :class="[currencyListSearch[n-1].percent_change_24h >= 0 ? 'table__positive-change' : 'table__negative-change']">{{ currencyListSearch[n-1].percent_change_24h }}%</span>)
                  </td>
                  <td class="table__td">
                    {{ currencyListSearch[n-1].price_btc }}
                  </td>
                  <td class="table__td">
                    ${{ currencyListSearch[n-1]["24h_volume_usd"] | bigNumber }}
                  </td>
                  <td class="table__td">${{ currencyListSearch[n-1].market_cap_usd | bigNumber }}</td>
                  <td class="table__td">
                    {{ currencyListSearch[n-1].available_supply | billions }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </main>

    <page-footer></page-footer>

    <!-- POPUPS -->

    <div class="popup-overlay" v-if="popup.investPopup" @click="closeWindow('investPopup', $event)" v-on:keydown.esc="closeWindow('investPopup', $event)" tabindex="0">
      <section class="popup">
        <div class="popup__inner">
          <button type="button" class="popup__close" aria-label="Close dialog" title="Close dialog" @click="closeWindow('investPopup', $event)"></button>

          <article class="invest">
            <form action="#" @submit.prevent="createInvestment">
              <div class="invest__screen">
                <h3>Investment type</h3>
                <div class="radio">
                  <input type="radio" name="invest-type" id="type-ico" class="radio__input" v-model="investTemplate.type" value="type-ico" required>
                  <label for="type-ico" class="radio__label">ICO</label>
                </div>
                <div class="radio">
                  <input type="radio" name="invest-type" id="type-hold" class="radio__input" v-model="investTemplate.type" value="type-hold" required>
                  <label for="type-hold" class="radio__label">Hold</label>
                </div>
              </div>
              <div class="invest__screen">
                <h3>Invested</h3>
                <div class="invest__columns">
                  <div class="invest__block invest__block--inv-crypto">
                    <label for="crypto-spent" class="invest__label">Crypto quantity</label>
                    <div class="invest__line">
                      <input type="hidden" v-model="investTemplate.id">
                      <input type="number" v-model.number="investTemplate.cryptoInvestedAmount" id="crypto-spent" class="input-field" placeholder="0.361" min="0" step="any">
                      <select class="input-field" v-model="investTemplate.cryptoInvestedSymbol" required="true">
                        <option value="Crypto name" disabled>Crypto name</option>
                        <option v-for="n in 50" :value="fullData[n-1].symbol">{{ fullData[n-1].name }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="invest__block">
                    <label for="usd-spent" class="invest__label">Invested in USD</label>
                    <div class="invest__line">
                      <input type="number" v-model.number="investTemplate.usdInvested" id="usd-spent" class="input-field" :placeholder="756.15" min="0" step="any">
                    </div>
                  </div>
                </div>
              </div>

              <div class="invest__screen">
                <h3>Got</h3>
                <div class="invest__columns">
                  <div class="invest__block">
                    <label for="coins-amount" class="invest__label">Coins / tokens quantity</label>
                    <div class="invest__line">
                      <input type="number" v-model.number="investTemplate.coinsAmount" id="coins-amount" class="input-field" placeholder="983.4458" min="0" step="any">
                    </div>
                  </div>
                  <div class="invest__block">
                    <label for="coins-symbol" class="invest__label">
                      <span class="acronym" tabindex="0">
                        <span class="acronym__tooltip">i.e. BNT for Bancor</span>
                        <span class="acronym__text">Symbol</span>
                      </span>&nbsp;for coins / tokens
                    </label>
                    <div class="invest__line">
                      <input type="text" v-model="investTemplate.coinsSymbol" id="coins-symbol" class="input-field" placeholder="BNT" required>
                    </div>
                  </div>
                </div>
              </div>

              <div class="invest__screen" v-if="investTemplate.type === 'type-ico'">
                <h3>Meta info</h3>
                <div class="invest__columns">
                  <div class="invest__block">
                    <label for="finish-date" class="invest__label">Finish date</label>
                    <div class="invest__line">
                      <input type="date" v-model="investTemplate.finishDate" id="finish-date" class="input-field">
                    </div>
                  </div>
                  <div class="invest__block">
                    <label for="prj-url" class="invest__label">Project website</label>
                    <div class="invest__line">
                      <input type="url" v-model="investTemplate.url" id="prj-url" class="input-field" placeholder="https://tezos.com">
                    </div>
                  </div>
                </div>
                <p>If you don’t know all info for now, it's ok, you can always edit this information.</p>
              </div>

              <p class="invest__done">
                <button class="btn btn--main">Save</button>
              </p>
            </form>
          </article>
        </div>
      </section>
    </div>

    <div class="popup-overlay" v-if="popup.transactionPopup" @click="closeWindow('transactionPopup', $event)" v-on:keydown.esc="closeWindow('transactionPopup', $event)" tabindex="0">
      <section class="popup popup--transaction">
        <div class="popup__inner">
          <button type="button" class="popup__close" aria-label="Close dialog" title="Close dialog" @click="closeWindow('transactionPopup', $event)"></button>

          <form action="#" @submit.prevent="createTransaction">
            <div class="invest__screen">
              <h3>Sell</h3>
              <input type="hidden" v-model="investTemplate.id">
              <div class="invest__columns">
                <div class="invest__block">
                  <label for="tokens-withdraw" class="invest__label">Sell, quantity</label>
                  <div class="invest__line">
                    <input type="number" v-model.number="investTemplate.coinsWithdrawTemp" id="tokens-withdraw" class="input-field" min="0" step="any">
                  </div>
                </div>
                <div class="invest__block">
                  <label for="usd-withdraw" class="invest__label">Sell sum, USD</label>
                  <div class="invest__line">
                    <input type="number" v-model.number="transaction.usdWithdrawTemp" id="usd-withdraw" class="input-field" min="0" step="any">
                  </div>
                </div>
              </div>
            </div>

            <div class="invest__screen">
              <h3>Result</h3>
              <p>Total sold, coins / tokens: {{ coinsSold }}</p>
              <p>Total sell sum, USD: {{ usdGot }}</p>
            </div>

            <p class="invest__done">
              <button class="btn btn--main">Save</button>
            </p>
          </form>
        </div>
      </section>
    </div>

    <div class="popup-overlay" v-if="popup.buy" @click="closeWindow('buy', $event)" v-on:keydown.esc="closeWindow('buy', $event)" tabindex="0">
      <section class="popup popup--buy">
        <div class="popup__inner">
          <button type="button" class="popup__close" aria-label="Close dialog" title="Close dialog" @click="closeWindow('buy', $event)"></button>

          <form action="#" @submit.prevent="createPurchase">
            <div class="invest__screen">
              <h3>Buy</h3>
              <div class="invest__columns">
                <div class="invest__block invest__block--inv-crypto">
                  <label for="crypto-spent-buy" class="invest__label">Spent crypto</label>
                  <div class="invest__line">
                    <input type="hidden" v-model="investTemplate.id">
                    <input type="number" v-model.number="transaction.cryptoSpentTemp" id="crypto-spent-buy" class="input-field" placeholder="0.361" min="0" step="any">
                    <select class="input-field" v-model="investTemplate.cryptoInvestedSymbol" required="true" disabled>
                      <option value="Crypto name" disabled>Crypto name</option>
                      <option v-for="n in 50" :value="fullData[n-1].symbol">{{ fullData[n-1].name }}</option>
                    </select>
                  </div>
                </div>
                <div class="invest__block">
                  <label for="usd-spent-buy" class="invest__label">Spent USD</label>
                  <div class="invest__line">
                    <input type="number" v-model.number="transaction.usdSpentTemp" id="usd-spent-buy" class="input-field" :placeholder="756.15" min="0" step="any">
                  </div>
                </div>
              </div>
            </div>

            <div class="invest__screen">
              <h3>Got</h3>
              <div class="invest__columns">
                <div class="invest__block">
                  <label for="coins-buy" class="invest__label">Coins / tokens quantity</label>
                  <div class="invest__line">
                    <input type="number" v-model.number="transaction.coinsBuyTemp" id="coins-buy" class="input-field" placeholder="983.4458" min="0" step="any">
                  </div>
                </div>
              </div>
            </div>

            <div class="invest__screen">
              <h3>Result</h3>
              <p>Total coins / tokens: {{ coinsBought }}</p>
              <p>Total purchase sum: ${{ usdSpent | tofix2 }}</p>
              <p>Total purchase sum, crypto: {{ cryptoSpent | roundToThreeDigits }} {{ investTemplate.cryptoInvestedSymbol }}</p>
            </div>

            <p class="invest__done">
              <button class="btn btn--main">Save</button>
            </p>
          </form>
        </div>
      </section>
    </div>

    <div class="popup-overlay" v-if="popup.deletePopup" @click="closeWindow('deletePopup', $event)" v-on:keydown.esc="closeWindow('deletePopup', $event)" tabindex="0">
      <section class="popup popup--delete">
        <button type="button" class="popup__close" aria-label="Close dialog" title="Close dialog" @click="closeWindow('popup.deletePopup', $event)"></button>

        <div class="popup__inner">
          <p>Are you sure you want to delete this entry?</p>
          <button class="btn btn--warning" type="button" @click="removeToken(deleteIndex)">Yes, delete it</button>
        </div>
      </section>
    </div>

    <div class="popup-overlay" v-if="popup.signInPopup" @click="closeWindow('signInPopup', $event)" v-on:keydown.esc="closeWindow('signInPopup', $event)" tabindex="0">
      <section class="popup popup--sign-in">
        <button type="button" class="popup__close" aria-label="Close dialog" title="Close dialog" @click="closeWindow('signInPopup', $event)"></button>

        <div class="popup__inner">
          <button data-device="desktop" class="btn btn--login" @click="signIn('desktop', 'google')" v-if="!authentication.isSignedIn">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
              <path d="M19.6 10.23c0-.82-.1-1.42-.25-2.05H10v3.72h5.5c-.15.96-.74 2.31-2.04 3.22v2.45h3.16c1.89-1.73 2.98-4.3 2.98-7.34z" fill="#4285F4"/>
              <path d="M13.46 15.13c-.83.59-1.96 1-3.46 1-2.64 0-4.88-1.74-5.68-4.15H1.07v2.52C2.72 17.75 6.09 20 10 20c2.7 0 4.96-.89 6.62-2.42l-3.16-2.45z" fill="#34A853"/>
              <path d="M3.99 10c0-.69.12-1.35.32-1.97V5.51H1.07A9.973 9.973 0 0 0 0 10c0 1.61.39 3.14 1.07 4.49l3.24-2.52c-.2-.62-.32-1.28-.32-1.97z" fill="#FBBC05"/>
              <path d="M10 3.88c1.88 0 3.13.81 3.85 1.48l2.84-2.76C14.96.99 12.7 0 10 0 6.09 0 2.72 2.25 1.07 5.51l3.24 2.52C5.12 5.62 7.36 3.88 10 3.88z" fill="#EA4335"/>
            </svg>
            <span class="btn__text">Sign in with Google</span>
          </button>
          <button data-device="mobile" class="btn btn--login" @click="signIn('mobile', 'google')" v-if="!authentication.isSignedIn">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
              <path d="M19.6 10.23c0-.82-.1-1.42-.25-2.05H10v3.72h5.5c-.15.96-.74 2.31-2.04 3.22v2.45h3.16c1.89-1.73 2.98-4.3 2.98-7.34z" fill="#4285F4"/>
              <path d="M13.46 15.13c-.83.59-1.96 1-3.46 1-2.64 0-4.88-1.74-5.68-4.15H1.07v2.52C2.72 17.75 6.09 20 10 20c2.7 0 4.96-.89 6.62-2.42l-3.16-2.45z" fill="#34A853"/>
              <path d="M3.99 10c0-.69.12-1.35.32-1.97V5.51H1.07A9.973 9.973 0 0 0 0 10c0 1.61.39 3.14 1.07 4.49l3.24-2.52c-.2-.62-.32-1.28-.32-1.97z" fill="#FBBC05"/>
              <path d="M10 3.88c1.88 0 3.13.81 3.85 1.48l2.84-2.76C14.96.99 12.7 0 10 0 6.09 0 2.72 2.25 1.07 5.51l3.24 2.52C5.12 5.62 7.36 3.88 10 3.88z" fill="#EA4335"/>
            </svg>
            <span class="btn__text">Sign in with Google</span>
          </button>

          <button data-device="desktop" class="btn btn--login btn--facebook" @click="signIn('desktop', 'facebook')" v-if="!authentication.isSignedIn">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
              <path d="M18.007 19c.55 0 .993-.444.993-.993V1.993c0-.55-.444-.993-.993-.993H1.993C1.443 1 1 1.444 1 1.993v16.014c0 .55.444.993.993.993h16.014zm-4.587 0v-6.97h2.34l.35-2.717h-2.69V7.578c0-.786.218-1.322 1.346-1.322h1.438v-2.43c-.25-.034-1.102-.108-2.096-.108-2.073 0-3.494 1.267-3.494 3.59v2.005H8.268v2.717h2.346V19h2.806z" fill="#3B5998" fill-rule="evenodd"/>
            </svg>
            <span class="btn__text">Sign in with Facebook</span>
          </button>
          <button data-device="mobile" class="btn btn--login btn--facebook" @click="signIn('mobile', 'facebook')" v-if="!authentication.isSignedIn">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
              <path d="M18.007 19c.55 0 .993-.444.993-.993V1.993c0-.55-.444-.993-.993-.993H1.993C1.443 1 1 1.444 1 1.993v16.014c0 .55.444.993.993.993h16.014zm-4.587 0v-6.97h2.34l.35-2.717h-2.69V7.578c0-.786.218-1.322 1.346-1.322h1.438v-2.43c-.25-.034-1.102-.108-2.096-.108-2.073 0-3.494 1.267-3.494 3.59v2.005H8.268v2.717h2.346V19h2.806z" fill="#3B5998" fill-rule="evenodd"/>
            </svg>
            <span class="btn__text">Sign in with Facebook</span>
          </button>

          <button data-device="desktop" class="btn btn--login btn--twitter" @click="signIn('desktop', 'twitter')" v-if="!authentication.isSignedIn">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
              <path d="M20 3.924c-.736.326-1.527.547-2.357.646.848-.508 1.498-1.312 1.804-2.27-.792.47-1.67.812-2.605.996C16.092 2.498 15.027 2 13.847 2 11.58 2 9.743 3.837 9.743 6.103c0 .322.037.635.107.935-3.41-.17-6.434-1.804-8.458-4.287-.352.61-.555 1.314-.555 2.066 0 1.423.724 2.68 1.825 3.415-.672-.02-1.305-.206-1.858-.513v.052c0 1.987 1.414 3.645 3.29 4.022-.344.096-.706.146-1.08.146-.265 0-.522-.026-.772-.074.522 1.63 2.037 2.818 3.833 2.85C4.67 15.81 2.9 16.468.98 16.468c-.332 0-.66-.02-.98-.057 1.816 1.166 3.973 1.846 6.29 1.846 7.547 0 11.674-6.253 11.674-11.675 0-.18-.004-.355-.01-.53.8-.58 1.496-1.3 2.046-2.125" fill="#55ACEE" fill-rule="evenodd"/>
            </svg>
            <span class="btn__text">Sign in with Twitter</span>
          </button>
          <button data-device="mobile" class="btn btn--login btn--twitter" @click="signIn('mobile', 'twitter')" v-if="!authentication.isSignedIn">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
              <path d="M20 3.924c-.736.326-1.527.547-2.357.646.848-.508 1.498-1.312 1.804-2.27-.792.47-1.67.812-2.605.996C16.092 2.498 15.027 2 13.847 2 11.58 2 9.743 3.837 9.743 6.103c0 .322.037.635.107.935-3.41-.17-6.434-1.804-8.458-4.287-.352.61-.555 1.314-.555 2.066 0 1.423.724 2.68 1.825 3.415-.672-.02-1.305-.206-1.858-.513v.052c0 1.987 1.414 3.645 3.29 4.022-.344.096-.706.146-1.08.146-.265 0-.522-.026-.772-.074.522 1.63 2.037 2.818 3.833 2.85C4.67 15.81 2.9 16.468.98 16.468c-.332 0-.66-.02-.98-.057 1.816 1.166 3.973 1.846 6.29 1.846 7.547 0 11.674-6.253 11.674-11.675 0-.18-.004-.355-.01-.53.8-.58 1.496-1.3 2.046-2.125" fill="#55ACEE" fill-rule="evenodd"/>
            </svg>
            <span class="btn__text">Sign in with Twitter</span>
          </button>
        </div>
      </section>
    </div>
  </div>


  <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js" defer></script>
  <script src="scripts/main.js" defer></script>
  <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-102622704-1', 'auto');ga('send', 'pageview');</script>
</body>
</html>
