<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Your Crypto investments watcher</title>

  <!-- <link rel="canonical" href="https://atlas.kyivstar.ua"> -->
  <link rel="manifest" href="manifest.json">

  <!-- PWA icons, uncomment for production -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Your Crypto investments watcher">
  <link rel="apple-touch-icon" href="images/icons/icon-152x152.png">

  <meta name="msapplication-TileImage" content="images/icons/icon-144x144.png">
  <meta name="msapplication-TileColor" content="#229fff">

  <!-- shortcut icon, uncomment for production -->
  <link rel="shortcut icon" href="images/icons/icon-32x32.png" type="image/ico">



  <!-- preload and prefetch, uncomment for production -->
  <!-- <link rel="dns-prefetch" href="//cdn.kyivstar.ua"> -->
  <!-- <link rel="preload" href="fonts/museo300.woff2" as="font" type="font/woff2" crossorigin="">
  <link rel="preload" href="fonts/museo700.woff2" as="font" type="font/woff2" crossorigin=""> -->


  <link rel="stylesheet" type="text/css" href="styles/main.css" media="all">
  <link rel="stylesheet" type="text/css" href="styles/desktop.css" media="(min-width: 700px)">
  <link rel="preload" href="scripts/main.js" as="script">

  <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-102622704-1', 'auto');
  ga('send', 'pageview');
  </script>
</head>
<body>
  <div id="crypto-app" v-cloak>
    <header class="pageheader">
      <h1 class="pageheader__name">My crypto portfolio</h1>

      <div class="pageheader__buttons">
        <div class="load-status" v-if="loadStatus">{{ loadStatus }}</div>
        <button class="btn btn--main" @click="openWindow">Add investment</button>
        <button class="btn btn--alt" @click="fetchData">Refresh data</button>
      </div>
    </header>

    <main role="main">
      <section class="portfolio">
        <table id="my-investments" class="table" v-if="myInvestments.length">
          <thead>
            <tr>
              <th class="table__action">Actions</th>
              <th class="table__symbol">Coin / token symbol</th>
              <th class="table__in-crypto">Invested, crypto</th>
              <th class="table__in-usd">Invested, USD</th>
              <th class="table__stay-usd">Stay, USD</th>
              <th class="table__amount">Coins / tokens quantity</th>
              <th class="table__current-price">Current price, USD</th>
              <th class="table__now">Total, USD</th>
              <th class="table__wd-usd">Sell sum, USD</th>
              <th class="table__wd-coins">Sold, coins / tokens</th>
              <th class="table__wd-now">Sold + total, USD</th>
              <th class="table__finish">ICO finish date</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(investment, index) in myInvestments" :key="investment.id">
              <td class="table__action-td">
                <button class="btn btn--warning action-btn action-btn--delete" type="button" @click="askRemoveToken(index)" title="Delete">
                  <svg version="1.1" width="18" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                    <g><path d="M815.3,80.3h-190V10H372.6v70.3h-190v69.3h632.7V80.3z"></path><path d="M816.9,203.6H120v101.9h63.3V990H817V305.5h63V203.6L816.9,203.6L816.9,203.6z M365.6,890.8h-85.5V304.5h85.5V890.8z M542.5,890.8H457V304.5h85.5V890.8z M722.3,890.8h-85.5V304.5h85.5V890.8z"></path></g></svg>
                </button>
                <button class="btn btn--alt action-btn action-btn--edit" type="button" @click="editToken(index)" title="Edit">
                  <svg version="1.1" width="18" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                    <g><path d="M984.1,122.3C946.5,84.5,911.4,42.1,867.8,11c-40-8.3-59.2,34.9-86.7,55.1c46.4,53.9,100.5,101.5,150.4,152.5C954.1,191.7,1007.7,164.1,984.1,122.3z M959.3,325.9c-31.7,31.8-64.5,62.8-95.1,95.8c-0.8,127.5,0.3,255-0.4,382.6c-0.6,47-41.8,88.7-88.8,90.3c-193.4,0.8-387,0.8-580.4,0.1c-52.2-1.4-94-51.4-89.9-102.7c-0.1-184.6-0.1-369.1,0-553.5c-4-51.1,38-100.3,89.6-102.1c128.1-1.7,256.3,0.1,384.3-0.9c33.2-30,63.9-62.9,95.7-94.5c-170.6,0-341-0.9-511.6,0.5c-79.6,1.4-151,71-152.4,151C10.1,407.7,9.5,622.8,10.7,838c0.3,77.5,66.1,144.7,142.4,152h670.2c72.3-12.7,134.3-75.8,135.2-150.9C960.7,668.1,959,496.9,959.3,325.9z M908.2,242.2C858,191.7,807.4,141.5,756.6,91.5C645.4,201.9,534,312,423.4,423c50.1,50.4,100.4,100.6,151.3,150.3C686,463.1,797.2,352.6,908.2,242.2z M341.2,654.6c68.1-18.5,104.4-30.2,172.5-48.5c18.2-5.8,30.3-9.3,39.7-13c-48.2-45.9-103.6-102.5-151.7-148.8C381.4,514.4,361.4,584.5,341.2,654.6z"></path></g></svg>
                </button>
              </td>
              <td>
                <template v-if="investment.url">
                  <a :title="investment.url" :href="investment.url" target="_blank">{{ investment.coinsSymbol }}</a>
                </template>
                <template v-else>{{ investment.coinsSymbol }}</template>
              </td>
              <td>{{ investment.cryptoInvestedAmount }} {{ investment.cryptoInvestedSymbol }}</td>
              <td>{{ investment.usdInvested }}</td>
              <td>{{ countRate(investment.cryptoInvestedAmount, investment.cryptoInvestedSymbol) }}</td>
              <td>{{ Math.round((investment.coinsAmount - investment.coinsWithdraw) * 1000) / 1000 }}</td>
              <td>
                {{ countRate(1, investment.coinsSymbol) }}
                <span class="table__positive-change" v-if="show24hChange(investment.coinsSymbol) >= 0">
                  (+{{ show24hChange(investment.coinsSymbol) }}%)
                </span>
                <span class="table__negative-change" v-else-if="show24hChange(investment.coinsSymbol) < 0">
                  ({{ show24hChange(investment.coinsSymbol) }}%)
                </span>
                <span class="table__negative-change" v-else>
                  ({{ show24hChange(investment.coinsSymbol) }})
                </span>
              </td>
              <td>{{ countRate(investment.coinsAmount - investment.coinsWithdraw, investment.coinsSymbol) }}</td>
              <td class="table__wd-usd">{{ investment.usdWithdraw }}</td>
              <td>{{ investment.coinsWithdraw }}</td>
              <td>{{ countSum(investment.usdWithdraw, countRate(investment.coinsAmount - investment.coinsWithdraw, investment.coinsSymbol)) }}</td>
              <td class="table__finish"><acronym class="acronym" :title="investment.finishDate | dateToDays"><nobr>{{ investment.finishDate }}</nobr></acronym></td>
            </tr>
          </tbody>
        </table>

        <div v-else>
          <p class="portfolio__empty">You have not investments right now, please add some information:</p>
          <button class="btn btn--main" @click="openWindow">Add investment</button>
        </p>
      </section>

      <div class="columns">
        <section class="insights" v-if="myInvestments.length">
          <table class="table" id="invest-calcs">
            <thead>
              <tr>
                <th colspan="2">Insights</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Total portfolio value, USD</td>
                <td>{{ totalPortfolioValue }}</td>
              </tr>
            </tbody>
          </table>
        </section>

        <aside class="market-info">
          <table id="top10" class="table">
            <thead>
              <tr>
                <th colspan="4">Top 10 by market capitalization</th>
              </tr>
              <tr>
                <th>Coin</th>
                <th>Price, USD</th>
                <th>Market cap, USD</th>
                <th>24h change</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="n in 10">
                <td>{{ currencyList[n-1].name }}</td>
                <td>{{ currencyList[n-1].price_usd }}</td>
                <td>{{ currencyList[n-1].market_cap_usd | bigNumber }}</td>
                <td>
                  <span class="table__positive-change" v-if="currencyList[n-1].percent_change_24h >= 0">
                    {{ currencyList[n-1].percent_change_24h }}%
                  </span>
                  <span class="table__negative-change" v-else-if="currencyList[n-1].percent_change_24h < 0">
                    {{ currencyList[n-1].percent_change_24h }}%
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </aside>
      </div>
    </main>

    <footer class="pagefooter">
      <div class="pagefooter__copy">
        <p>&copy; 2017 — you are able to use this app in the way you need.</p>
        <p>Built with <a href="http://coinmarketcap.com/" target="_blank">Coinmarketcap API</a> and <a href="http://vuejs.org/" target="_blank">Vue.js</a>.</p>
      </div>
      <div class="pagefooter__donate">
        <p>Donations are always appreciated.</p>
        <p>ETH <strong>0x0d342fee3b6b14d8ffa9d3f4c8803649f40d649e</strong></p>
        <p>BTC <strong>14r4xFYtQHtGCPrNjV6z2XkvL3fJLCUPNi</strong></p>
      </div>
    </footer>

    <!-- POPUP -->

    <div class="popup-overlay" v-if="investPopup" @click="closeWindow('investPopup', $event)" v-on:keydown.esc="closeWindow('investPopup', $event)" tabindex="0">
      <section class="popup">
        <button type="button" class="popup__close" aria-label="Close dialog" title="Close dialog" @click="closeWindow('investPopup', $event)"></button>

        <div class="popup__inner">
          <article class="invest">
            <form action="#" @submit.prevent="createInvestment">
              <div class="invest__screen">
                <h3>Invested</h3>
                <div class="invest__columns">
                  <div class="invest__block">
                    <label for="crypto-spent" class="invest__label">Crypto quantity</label>
                    <div class="invest__line">
                      <input type="hidden" v-model="investTemplate.id">
                      <input type="number" v-model.number="investTemplate.cryptoInvestedAmount" id="crypto-spent" class="input-field" placeholder="0.361" min="0" step="any">
                      <select class="input-field" v-model="investTemplate.cryptoInvestedSymbol" required="true">
                        <option value="Crypto name" disabled>Crypto name</option>
                        <option v-for="currency in currencyList" :value="currency.symbol">{{ currency.name }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="invest__block">
                    <label for="usd-spent" class="invest__label">Invested in USD</label>
                    <div class="invest__line">
                      <input type="number" v-model.number="investTemplate.usdInvested" id="usd-spent" class="input-field" :placeholder="756.15" min="0" step="any">
                    </div>
                  </div>
                </div>
              </div>

              <div class="invest__screen">
                <h3>Got</h3>
                <div class="invest__columns">
                  <div class="invest__block">
                    <label for="coins-amount" class="invest__label">Coins / tokens quantity</label>
                    <div class="invest__line">
                      <input type="number" v-model.number="investTemplate.coinsAmount" id="coins-amount" class="input-field" placeholder="983.4458" min="0" step="any">
                    </div>
                  </div>
                  <div class="invest__block">
                    <label for="coins-symbol" class="invest__label">Symbol for coins / tokens<span class="secondary-span">, i.e. BNT for Bancor</span></label>
                    <div class="invest__line">
                      <input type="text" v-model="investTemplate.coinsSymbol" id="coins-symbol" class="input-field" placeholder="BNT" required>
                    </div>
                  </div>
                </div>
              </div>

              <div class="invest__screen">
                <h3>Meta info</h3>
                <div class="invest__columns">
                  <div class="invest__block">
                    <label for="finish-date" class="invest__label">Finish date</label>
                    <div class="invest__line">
                      <input type="date" v-model="investTemplate.finishDate" id="finish-date" class="input-field">
                    </div>
                  </div>
                  <div class="invest__block">
                    <label for="prj-url" class="invest__label">Project website</label>
                    <div class="invest__line">
                      <input type="url" v-model="investTemplate.url" id="prj-url" class="input-field" placeholder="https://tezos.com">
                    </div>
                  </div>
                </div>
                <p>If you don’t know all info for now, it's ok, you can always edit this information.</p>
              </div>

              <div class="invest__screen">
                <h3>Sold</h3>
                <div class="invest__columns">
                  <div class="invest__block">
                    <label for="tokens-withdraw" class="invest__label">Sold, quantity</label>
                    <div class="invest__line">
                      <input type="number" v-model.number="investTemplate.coinsWithdraw" id="tokens-withdraw" class="input-field" min="0" step="any">
                    </div>
                  </div>
                  <div class="invest__block">
                    <label for="usd-withdraw" class="invest__label">Sell sum, USD</label>
                    <div class="invest__line">
                      <input type="number" v-model.number="investTemplate.usdWithdraw" id="usd-withdraw" class="input-field" min="0" step="any">
                    </div>
                  </div>
                </div>
              </div>

              <p class="invest__done">
                <button class="btn btn--main">Save</button>
              </p>
            </form>
          </article>
        </div>
      </section>
    </div>

    <div class="popup-overlay" v-if="deletePopup" @click="closeWindow('deletePopup', $event)" v-on:keydown.esc="closeWindow('deletePopup', $event)" tabindex="0">
      <section class="popup popup--delete">
        <button type="button" class="popup__close" aria-label="Close dialog" title="Close dialog" @click="closeWindow('deletePopup', $event)"></button>

        <div class="popup__inner">
          <p>Are you sure you want to delete this entry?</p>
          <button class="btn btn--warning" type="button" @click="removeToken(deleteIndex)">Yes, delete it</button>
        </div>
      </section>
    </div>
  </div>


  <!-- <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
  <script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyB4IbUCWaMDlIbhxlwckAY-_kQ59a-NyCg",
    authDomain: "cryptowatcher-86395.firebaseapp.com",
    databaseURL: "https://cryptowatcher-86395.firebaseio.com",
    projectId: "cryptowatcher-86395",
    storageBucket: "",
    messagingSenderId: "48789523257"
  };
  firebase.initializeApp(config);
  </script> -->
  <script src="scripts/main.js" defer></script>
</body>
</html>
