.portfolio {
  margin: 2em;
}

.portfolio__search {
  max-width: 300px;
  width: 300px;
}

.portfolio__search-block {
  width: auto;
}

.portfolio__filters {
  margin-left: 0;
  margin-right: 0;
}

.portfolio__total {
  margin: 1em;
  text-align: center;
  font-size: 5vw;
}

@media (min-width: 1350px) {
  .portfolio__total {
    font-size: 67px;
  }
}
