.portfolio {
  margin: 2em 2em 4em;
}

.portfolio__search {
  max-width: 300px;
  width: 300px;
}

.portfolio__search-block {
  width: auto;
}

.portfolio__filters {
  margin-left: 0;
  margin-right: 0;
}

.portfolio__total {
  margin: .5em;
  text-align: center;
  font-size: 3.5vw;
}

.portfolio__header {
  margin-left: 0;
  margin-right: 0;
}

.portfolio__no-records {
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 1350px) {
  .portfolio__total {
    font-size: 48px;
  }
}
