.market-info {
  margin-top: 0;
}

.btn {
  padding: 13px 25px;
}

.action-btn {
  padding: 5px 6px;
}

.table__action {
  width: 110px;
}

.table__action-td {
  position: relative;
  padding: 5px;
}

.pagefooter {
  font-size: 14px;
}

.table tr:hover .table__td {
  background-color: #e5e6ea;
}

.table__row:hover .action-btn {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  padding: 5px 6px;
  margin: 2px auto;
}
