.action-btn:nth-child(2) {
  margin-top: 0;
}

.market-info {
  margin-top: 0;
}

.btn {
  padding: 13px 25px;
}

.action-btn {
  padding: 5px 6px;
}

.table__action {
  width: 110px;
}

.table__action-td {
  position: relative;
  padding: 5px;
}

.table__action-div {
  justify-content: space-between;
  transform: scale(0);
}

.table tr:hover td .table__action-div {
  transform: scale(1);
}

.pagefooter {
  font-size: 14px;
}
