.btn {
  font-size: 16px;
	font-weight: 500;
	padding: 9px 10px;
	border-radius: 5px;
	transition: background .1s, color .1s, transform .15s;
	border: none;
	position: relative;
  display: inline-flex;
	align-items: center;
  color: #fff;
  justify-content: center;
}

.btn:hover {
  transition: none;
}

.btn:focus {
  outline: none;
}

.btn[disabled],
.btn[disabled]:hover {
  background-color: var(--bglight-color);
  color: var(--bg-color);
}

.btn__text {
  margin: 0 auto;
}

.btn--alt {
  background-image: linear-gradient(45deg, var(--secondary-color), var(--secondarydark-color));
}

.btn--alt:hover {
  background-image: none;
  background-color: var(--secondarydark-color);
}

.btn--alt:focus {
  box-shadow: -3px 3px 3px var(--secondarydark-color);
}

.btn--main {
  background-image: linear-gradient(45deg, var(--main-color), var(--maindark-color));
}

.btn--main:hover {
  background-image: none;
  background-color: var(--maindark-color);
}

.btn--main:focus {
  box-shadow: -3px 3px 3px var(--maindark-color);
}

.btn--warning {
  background-image: linear-gradient(45deg, var(--warning-color), var(--warningdark-color));
}

.btn--warning:hover {
  background-image: none;
  background-color: var(--warningdark-color);
}

.btn--login {
  border: 1px solid var(--link-color);
  background-color: #fff;
  color: var(--link-color);
  width: 80%;
  justify-content: flex-start;
}

.btn--login:hover {
  border-color: var(--warning-color);
}

.btn--login:focus {
  box-shadow: -3px 3px 3px var(--link-color);
}

.btn--login svg {
  margin-right: 6px;
}

.btn--facebook,
.btn--twitter {
  margin-top: 10px;
}

.btn--facebook svg {
  fill: #4267b2;
}

.btn--warning:focus {
  box-shadow: -3px 3px 3px var(--warningdark-color);
}

.action-btn svg {
  display: block;
  fill: #fff;
}

.action-btn {
  border: none;
  padding: 5px 6px;
  border-radius: 3px;
  margin: 2px auto;
}

.action-btn {
  position: absolute;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.action-btn:hover {
  visibility: visible;
}

.action-btn:focus,
.table__row-active .action-btn {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  padding: 5px 6px;
  margin: 2px auto;
}
