[v-cloak] .popup-overlay {
  display: none;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
}

.popup {
  border-radius: 5px;
  box-shadow: 2px 0 4px rgba(0,0,0,.1), -2px 0 4px rgba(0,0,0,.1);
  position: absolute;
  width: 618px;
  height: 465px;
  max-height: 100%;
  max-width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.popup__close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  border: none;
  background-image: linear-gradient(9deg, var(--main-color), var(--maindark-color));
  z-index: 1;
}

.popup__close:hover {
  background: var(--maindark-color);
}

.popup__close:focus {
  outline: 0;
  box-shadow: -3px 3px 3px var(--maindark-color);
}

.popup__close:before,
.popup__close:after {
  position: absolute;
  content: ' ';
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 2px;
  width: 16px;
  background-color: #fff;
  transform: rotate(45deg);
  transform-origin: 50% 50%;
}

.popup__close:after {
  transform: rotate(-45deg);
}

.popup__inner {
  overflow: auto;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.popup--delete {
  height: 150px;
  width: 340px;
}

.popup--delete p {
  margin-bottom: 13px;
  width: calc(100% - 35px);
}

.popup--delete .btn {
  align-self: flex-start;
}

.popup--transaction {
  height: 370px;
  width: 390px;
}

.popup--sign-in {
  height: 195px;
  width: 340px;
}

.popup--sign-in .popup__inner {
  display: block;
}

.popup--buy {
  width: 618px;
}
