.table {
  /*min-width: 100%;*/
  border-collapse: collapse;
}

.table + .table {
  margin-top: 2em;
}

.table__th {
  text-align: left;
  border-bottom: 2px solid var(--bg-color);
  padding: 5px 10px;
  vertical-align: bottom;
  font-weight: 500;
  height: 80px;
}

.table__td {
  padding: 5px 10px;
  background-color: #fff;
  height: 44px;
}

.table tr:nth-child(even) .table__td {
  background-color: var(--bglight-color);
}

.table tr.table__row-active .table__td {
  background-color: #e5e6ea;
}

.table__td--name {
  width: 190px;
}

.table__td--price {
  width: 135px;
}

.table__td--action {
  text-align: center;
  width: 116px;
  position: relative;
}

.table__action-div {
  display: flex;
  flex-wrap: wrap;
  min-height: 32px;

  position: absolute;
  right: 8px;
  top: 0;
  padding: 5px;
  background-color: inherit;
}

.table tr.table__row-active .table__action-div {
  width: 108px;
  height: 100%;
}

.table__td--current-price {
  white-space: nowrap;
}

.table__td--sell-usd,
.table__td--finish {
  border-left: 2px solid var(--bg-color);
}

.table__td--pl {
  color: var(--main-color);
}

.table__neutral {
  color: #000;
}

.table__negative-change {
  color: var(--warning-color);
}

.table__positive-change {
  color: var(--main-color);
}

.table--right-align td:last-child {
  text-align: right;
}

.table .fiat {
  display: block;
  text-align: right;
}

.table__symbol {
  display: flex;
  align-items: center;
}

.table__symbol-icon {
  width: 16px;
  font-size: 12px;
  text-align: center;
}

.table__symbol-name {
  vertical-align: middle;
  margin-left: 8px;
}

.table--w100 {
  min-width: 100%;
}

.table--marketinfo .table__th {
  height: auto;
}

.table__td--desktop,
.table__th--desktop {
  display: none;
}

.table__th--rank {
  width: 37px;
}

.table__td--rank {
  text-align: center;
}
