.table {
  max-width: 100%;
  min-width: 33%;
  border-collapse: collapse;
}

.table + .table {
  margin-top: 2em;
}

.table th {
  text-align: left;
  border-bottom: 2px solid var(--bg-color);
  padding: 5px 10px;
}

.table td {
  padding: 5px 10px;
  border-bottom: 1px solid var(--bg-color);
}

.table tr:nth-child(even) td {
  background-color: var(--bglight-color);
}

.table tr:hover td {
  background-color: #e5e6ea;
}

.table__action {
  width: 86px;
}

.table__action-td {
  text-align: center;
}

.table__wd-usd,
.table__finish {
  border-left: 2px solid var(--bg-color);
}

.table__negative-change {
  color: var(--warning-color);
}

.table__positive-change {
  color: var(--main-color);
}

.action-btn svg {
  display: block;
  fill: #fff;
}

.action-btn {
  border: none;
  padding: 5px 6px;
  border-radius: 3px;
}

.action-btn:nth-child(2) {
  margin-top: 5px;
}
