.table {
  max-width: 100%;
  min-width: 33%;
  border-collapse: collapse;
}

.table + .table {
  margin-top: 2em;
}

.table th {
  text-align: left;
  border-bottom: 2px solid var(--bg-color);
  padding: 5px 10px;
}

.table th + th,
.table td + td {
  border-left: 1px solid var(--bg-color);
}

.table td {
  padding: 5px 10px;
  border-bottom: 1px solid var(--bg-color);
}

.table tr:nth-child(even) td {
  background-color: var(--bglight-color);
}

.table__action {
  width: 86px;
}

.table__acronym {
  text-decoration: none;
  border-bottom: 1px dashed var(--text-color);
  transition: color .2s, border-color .2s;
}

.table__acronym:hover {
  color: var(--main-color);
  border-bottom-color: var(--main-color);
  transition: none;
  cursor: default;
}

.action-btn {

}

.action-btn svg {
  display: block;
}
